# QL Tracker Dependencies
# Core dependencies for the tracking functionality

rich>=13.0.0
tomli>=2.0.0; python_version < '3.11'
requests>=2.25.0

# LangSafe Dependencies
# FastAPI server for input/output scanning
fastapi
uvicorn
pyngrok
pydantic
python-multipart
websockets

# LLm Gauard Api's
torch
torchvision
detect-secrets

accelerate
onnxruntime-gpu
jsonify
optimum[onnxruntime]
transformers

#pip install -r requirements.txt
#pip install -e ./llm-guard
#uvicorn langsafe.main:app --host 0.0.0.0 --port 8000